@import "./screens.scss";
@import "./mixins.scss";

.button {
  outline: none;
  border: none;

  &--disabled {
    background-color: #e0e0e0 !important;
    cursor: not-allowed;
  }
}

.input {
  width: -webkit-fill-available;
  .input-cont {
    width: 100%;
    overflow: hidden;
    @include screen("inbetween") {
    }

    .text-input {
      box-sizing: border-box;
      height: 50px;
      padding: 0.75rem;
      width: 100%;
      color: #202228;
      @include screen("inbetween") {
        font-style: normal;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 150%;
      }
    }
    .text-input:focus {
      outline: none;
    }
    .textarea {
      box-sizing: border-box;
      padding: 0.75rem;
      width: 100%;
      color: #262626;
      @include screen("inbetween") {
        font-style: normal;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 150%;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
